
body {
    font-family: 'Nunito', sans-serif !important;
    font-weight: 300;
}

ul li {
    list-style: none;
    text-decoration: none;
}

a {
    &, &:visited, &:link, &:hover, &:active, &:focus {
        color: inherit;
        text-decoration: inherit;
    }
}

span {
    display: inline-block;
}

input  {

}