body {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}

ul li {
    list-style: none;
    text-decoration: none;
}

a {
    &, &:visited, &:link, &:hover, &:active, &:focus {
        color: inherit;
        text-decoration: inherit;
    }
}