.header {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.35)), url("../img/header/header_bg.jpg") no-repeat center top;
    height: 650px;
    background-size: cover;
    color: #FFFFFF;
}

.logo {

}

.logo__text {
    font-weight: 600;
    background: linear-gradient(to right, #fcf8fc, #c8e7ff, #3787ff);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

.navbar {

}

.navbar__list {
    font-weight: 300;
}

.navbar__item {
    padding: 15px;
}

.css-typing {
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 300;
    opacity: .8;
}

.header__title {
    text-align: center;
    font-size: 62px;
    font-weight: 400;
    text-transform: uppercase;
}

.social {

}

.social__item {
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    border: 3px solid rgba(255, 255, 255, 0.75);
    opacity: .8;
}