.header {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.35)), url("../img/header/header_bg.jpg") no-repeat center top;
    height: 600px;
    background-size: cover;
    color: #FFFFFF;
}

.logo {

}

.logo__text {
    font-weight: 600;
    background: linear-gradient(to right, #fcf8fc, #9dd2ff, #3787ff);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

.navbar {

}

.navbar__list {
    font-weight: 300;
}

.navbar__item {
    margin-left: 20px;
}