//@mixin make-responsive-classes($prefix) {
//
//}
//
//@include make-responsive-classes(margin-right-10) {
//    margin-right: 10px;
//}


@mixin make-indents($indents) {
    @each $indent in $indents {
        .margin-right-#{$indent} {
            margin-right: #{$indent}px;
        }
        .margin-bottom-#{$indent} {
            margin-bottom: #{$indent}px;
        }
        .margin-top-#{$indent} {
            margin-top: #{$indent}px;
        }
        .margin-left-#{$indent} {
            margin-left: #{$indent}px;
        }

        .padding-right-#{$indent} {
            padding-right: #{$indent}px;
        }
        .padding-bottom-#{$indent} {
            padding-bottom: #{$indent}px;
        }
        .padding-top-#{$indent} {
            padding-top: #{$indent}px;
        }
        .padding-left-#{$indent} {
            padding-left: #{$indent}px;
        }

    }
}


@include make-indents((10,20,30,40));