//@mixin make-responsive-classes($prefix) {
//
//}
//
//@include make-responsive-classes(margin-right-10) {
//    margin-right: 10px;
//}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.max-width-100 {
    max-width: 100%;
}

.width-100 {
    width: 100%;
}

.padding-3-rem {
    padding: 3rem;
}

.padding-0 {
    padding: 0;
}

@mixin make-responsive-classes($class) {
    .#{$class} {
        @content
    }
    .#{$class}-sm {
        @media (min-width: 768px) {
            @content;
        }
    }
    .#{$class}-upto-sm {
        @media (max-width: 767px) {
            @content;
        }
    }
    .#{$class}-md {
        @media (min-width: 992px) {
            @content;
        }
    }

}

@mixin make-indents($indents) {
    @each $indent in $indents {
        @include make-responsive-classes("margin-right-#{$indent}") {
            margin-right: #{$indent}px;
        }
        @include make-responsive-classes("margin-bottom-#{$indent}") {
            margin-bottom: #{$indent}px;
        }
        @include make-responsive-classes("margin-top-#{$indent}") {
            margin-top: #{$indent}px;
        }
        @include make-responsive-classes("margin-left-#{$indent}") {
            margin-left: #{$indent}px;
        }

        @include make-responsive-classes("padding-right-#{$indent}") {
            padding-right: #{$indent}px;
        }
        @include make-responsive-classes("padding-bottom-#{$indent}") {
            padding-bottom: #{$indent}px;
        }
        @include make-responsive-classes("padding-top-#{$indent}") {
            padding-top: #{$indent}px;
        }
        @include make-responsive-classes("padding-left-#{$indent}") {
            padding-left: #{$indent}px;
        }

    }
}


@include make-indents((10,20,30,40,50,60,70,80,90,100,200));


@include make-responsive-classes("hidden") {
    display: none;
}