.aboutme {

}

.title {
    color: #555555;
    position: relative;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 3rem;
}

.title:after {
    content:' ';
    position: absolute;
    top:100%;
    left:50%;
    width: 130px;
    border:1px solid #2e6fd1;
    border-radius:4px;
    transform:translateX(-50%);
}

.about {
    color: #555555;
}

.about__img {
    box-shadow: -1px 1px 33px -7px rgba(0, 0, 0, 0.75);
}

.about__icon {
    line-height: 2.5rem;
    color: white;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    transition: all 1s;
    text-align: center;
    background: #2e6fd1;
    font-size: 1.4rem;
}

.about__caption {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}

.about__text {
    font-size: 1.17rem;
    line-height: 1.75rem;
    font-weight: 300;
    text-align: left;
}
