.media {
    display: flex;
    &__body {
        flex: 1;
    }
    &__left {
        margin-right: 10px;
    }
    &__right {
        margin-left: 10px;
    }
}



.holder{
    position:relative;
}

.block{
    transition:  .5s;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    background: rgba(0, 0, 0, 0.92);
    opacity: 0;
}

.holder:hover .block{
    opacity: 1;
}